#battleGround {
	background-image: url('../images/hogwarts.jpg');
	background-size: cover;
	text-align: center;
}

#armyLeft, #eatersLeft {
	margin-top: 12%;
}
body {
	background-color: #b6a07e;
}

h3, h1 {
	margin: 25px auto;
	text-align: center;
}

.col-md-4, .col-md-2 {
	border: black solid 10px;
	height: 750px;
}

img {
	display: block;
	margin: 5px auto;
}

#goodGuyFighter, #badGuyFighter {
	display:block;
}

.btn-default {
	font-size: 24px;
}


p {
	color: white;
}