body {
	background-image: url('../images/bg.jpeg');
	background-size: cover;
}

h3, h1 {
	margin: 25px auto;
	text-align: center;
}

#battleGround {
	text-align: center;
}

.col-md-4, .col-md-2 {
	border: grey solid 5px;
	height: 567px;
}

img {
	display: block;
	margin: 5px auto;
}

#goodGuyFighter, #badGuyFighter {
	display:block;
}

.btn-default {
	font-size: 24px;
}


p {
	color: white;
}